[Unit]
Description=DHCPv4 Server Daemon
Documentation=man:dhcpd(8) man:dhcpd.conf(5)
Wants=network-online.target
After=network.target time-sync.target network-online.target

[Service]
PIDFile=/run/dhcpd.pid
EnvironmentFile=/etc/default/dhcp-server
EnvironmentFile=-/etc/sysconfig/dhcp-server
ExecStartPre=/bin/mkdir -p /data/etc/dhcp/
ExecStartPre=/bin/touch /data/etc/dhcp/dhcpd.leases
ExecStart=/usr/sbin/dhcpd -f -cf /data/etc/dhcp/dhcpd.conf -lf /data/etc/dhcp/dhcpd.leases -pf /run/dhcpd.pid $DHCPDARGS -q $INTERFACES
Restart=always

[Install]
WantedBy=multi-user.target
